@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.input {
  @apply border px-3 py-2 rounded w-full;
}

.btn {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700;
}


@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  background: linear-gradient(to right,
      #e5e7eb 0%,
      #f3f4f6 50%,
      #e5e7eb 100%);
  animation: shimmer 1.5s infinite linear;
  background-size: 200% 100%;
}

/* In your globals.css or use Tailwind plugin */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}